:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 70vw;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    // height: 5em;

    label {
        margin: 1em 1em 1em 0;
    }

    mat-radio-button {
        margin: 1em;
    }

    .birth-month-field {
        width: 7em;
    }
}

table {
    width: 100%;
    margin: 1em;
}

@media only screen and (max-width: 900px) {
    // Mobile and tablets
    :host {
        width: 90vw;
    }
}