<h1 mat-dialog-title>{{data.businessName}}</h1>
<mat-dialog-content>
    <p>Subscribe to receive marketing SMS messages for coupons and birthday discount reminder. Message freqency varies. Message and data rates may apply.
    </p>
    <p style="font-size: xx-small; line-height: 1;">By clicking "Subscribe", you agree to the <span class="link" (click)="onOpenTermsOfUse()">Terms of Use</span> & <span class="link" (click)="onOpenPrivacyPolicy()">Privacy Policy</span> that {{data.businessName}} may send SMS at the number on file with your
        check-in info. You understand that you are not required to provide this consent as a condition of purchasing any
        services.</p>
</mat-dialog-content>
<mat-dialog-actions class="action-buttons">
    <app-submit-button [diameter]="50" [disabled]="isSubmitting" [isSubmitting]="isSubmitting" (onClick)="onSubmit()">Subscribe
    </app-submit-button>
    <button mat-button class="skip-button" mat-dialog-close color="primary">Skip</button>
</mat-dialog-actions>