:host {
    display: flex;
    flex-direction: column;
    font-size: x-large;
    padding: 1em;
}

:host ::ng-deep button, button {
    font-size: x-large;
    width: 7em;
    height: 2em;
    margin: 0.5em;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

.link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .skip-button {
        cursor: pointer;
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        font-size: large;
        border-radius: 1em;
        width: auto;
    }
}

::ng-deep .submit-button {
    border-radius: 1em !important;
}
