:host {
    font-size: xx-large;
}

:host ::ng-deep button, button {
    font-size: xx-large;
    width: 7em;
    height: 2em;
    margin: 0.5em;
}

.mat-dialog-title {
    text-align: center;
    font-size: xxx-large;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    .skip-button {
        cursor: pointer;
        position: absolute;
        right: 0;
        font-size: large;
    }
}
