<!-- <form [formGroup]="form" (ngSubmit)="onResetPassword()"> -->
<form [formGroup]="form">
    <!-- New Password -->
    <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput type="password" required formControlName="newPassword" [errorStateMatcher]="matcher">
        @if (form.get('newPassword')?.hasError('minlength')) {
            <mat-error>Password length must be at least 7 character</mat-error>
        }
    </mat-form-field>

    <!-- Verification Code -->
    <!-- <mat-form-field appearance="fill">
        <mat-label>Verification Code</mat-label>
        <input matInput type="text" required formControlName="verificationCode">
    </mat-form-field> -->

    <!-- Sign in as owner toggle -->
    <!-- <mat-slide-toggle formControlName="asOwner">as Owner</mat-slide-toggle> -->

    <!-- Action Buttons -->
    <app-submit-button [mat-dialog-close]="newPassword" [disabled]="!form.valid || isSubmitting"
        [isSubmitting]="isSubmitting">Submit
    </app-submit-button>
</form>