<h1 mat-dialog-title>Privacy Policy</h1>
<mat-dialog-content>
    <p><strong>Information Collection and Use</strong></p>
    <p>TicTex collects personal information such as name, email address, and phone number to create and manage user
        accounts.</p>
    <p>TicTex may also collect usage data, including the number and frequency of messages sent and received, for analytics
        purposes.</p>

    <p><strong>Data Security</strong></p>
    <p>TicTex takes reasonable precautions to protect user information from unauthorized access, use, or disclosure.</p>

    <p><strong>Data Retention</strong></p>
    <p>TicTex retains user information for as long as necessary to fulfill the purposes outlined in this Privacy Policy
        unless a longer retention period is required or permitted by law.</p>

    <p><strong>User Rights</strong></p>
    <p>Users have the right to access, update, or delete their personal information. Users can also request a copy of their
        data or withdraw consent for the processing of their data.</p>

    <p><strong>Changes to Privacy Policy</strong></p>
    <p>The Company reserves the right to modify or replace this Privacy Policy at any time. Your continued use of the App
        after any such changes constitutes your acceptance of the new Privacy Policy.</p>

    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about this Privacy Policy, please contact us at 949-394-6149.</p>
</mat-dialog-content>