:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    width: 70vw;
}

.refresh-button {
    align-self: end;
}

.total-count {
    margin-bottom: 1em;
    align-self: end;
}

table {
    width: 100%;
    margin-bottom: 1em;
}

// ::ng-deep .submit-button {
//     font-size: xx-small !important;
//     min-width: auto !important;
//     width: 5em !important;
//     height: 2em !important;
//     border-radius: 1em !important;
//     padding: 0 !important;
//     margin-left: 1em;
//     color: white;
// }

.opt-cell {
    display: flex;
    flex-direction: row;
}

.notes-cell {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.opt-spinner {
    position: relative;
    margin-left: 0.5em;
}

.no-more-item-text {
    margin-top: 1em;
    // align-self: end;
}

.action-button {
    border-radius: 1em;
    cursor: pointer;
}

mat-table {
    margin-bottom: 1em;
}

@media only screen and (max-width: 900px) {
    // Mobile and tablets
    :host {
        width: 90vw;
    }
}