:host {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    align-items: center;
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-icon {
    color: green;
    font-size: 10em;
    width: auto;
    height: auto;
}