:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: xx-large;
}

:host ::ng-deep button {
    font-size: xx-large;
}

mat-form-field {
    margin: 0.5em;
    width: 40vw;
}

.birth-month-field {
    width: 7em;
}

// .birth-month-option {
//     width: 4em;
// }

.birth-day-field {
    width: 4em;
}

// .birth-day-option {
//     width: 3em;
// }

.mat-option-text {
    text-align: center !important;
}

fieldset {
    border-radius: 1em;
    border-color: lightgreen;
    width: 13em;
    margin-bottom: 1em;
}

:host ::ng-deep button, button {
    font-size: x-large;
    width: 5em;
    height: 2em;
    margin: 0.5em;
}

@media only screen and (min-width: 1000px) {
    mat-form-field {
        margin: 0.5em;
        width: 30vw;
    }
}