<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDirective="ngForm">
    <!-- Name -->
    <mat-form-field appearance="fill" class="input-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required autofocus>
        <button type="button" *ngIf="name" matSuffix mat-icon-button aria-label="Clear" tabindex="-1" (click)="name=''">
            <mat-icon style="width: auto;">close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="fill" class="input-field phone-field">
        <mat-label>Phone</mat-label>
        <input #phoneInput mask="(000) 000-0000" matInput placeholder="(xxx) xxx-xxxx" formControlName="phone" required
            inputmode="numeric">
        <button type="button" *ngIf="phone" matSuffix mat-icon-button aria-label="Clear" tabindex="-1"
            (click)="phone=''">
            <mat-icon style="width: auto;">close</mat-icon>
        </button>
    </mat-form-field>

    <!-- Birth date -->
    <fieldset>
        <legend>Birthday</legend>
        <mat-form-field class="birth-month-field" appearance="fill">
            <mat-select formControlName="birthMonth" (selectionChange)="onMonthSelected()">
                <mat-option class="birth-month-option" [value]="i + 1"
                    *ngFor="let monthName of monthNames; let i = index">{{monthName}}</mat-option>
            </mat-select>
            <mat-hint>Month</mat-hint>
        </mat-form-field>

        <mat-form-field class="birth-day-field" appearance="fill">
            <mat-select formControlName="birthDay" [disabled]="!form.get('birthMonth')?.value">
                <mat-option class="birth-day-option" [value]="day" *ngFor="let day of days">{{day}}</mat-option>
            </mat-select>
            <mat-hint>Day</mat-hint>
        </mat-form-field>
    </fieldset>

    <!-- Action Buttons -->
    <app-submit-button [diameter]="40" [disabled]="!form.valid || isSubmitting" [isSubmitting]="isSubmitting">Submit
    </app-submit-button>
    <button type="button" mat-raised-button (click)="resetForm()">Clear</button>
</form>