:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    height: 100%;
    // padding: 1em;
}

// :host ::ng-deep button {
//     font-size: xx-large !important;
//     border-radius: 1em !important;
// }

form {
    font-size: xx-large !important;
}

// ::ng-deep .submit-button, button {
//     // font-size: xx-large !important;
// }

// mat-form-field {
    // margin: 0.5em;
    // width: 40vw;
    // // height: 3em !important;
    // font-size: 1.5em !important;
// }

.input-field {
    // margin: 0.5em;
    width: 40vw;
    // height: 3em !important;
    font-size: 1.4em !important;
    height: auto; // This is so that when typing, the box doesn't get bigger
}

// .name-field {
//     height: 2.5em; // This is so that when typing, the box doesn't get bigger
// }
.phone-field {
    margin-left: 1em;
    // height: 2.5em; // This is so that when typing, the box doesn't get bigger
}

.birth-month-field {
    width: 2em;
    font-size: 1.5em !important;
    height: auto;
    mat-select {
        font-size: 0.5em !important;
    }
}

.birth-month-option {
    font-size: 1.5em !important;
    // width: 4em;
}

.birth-day-field {
    width: 1.7em;
    margin-left: 0.5em;
    font-size: 1.5em !important;
    height: auto;
    mat-select {
        font-size: 0.5em !important;
    }
}

.birth-day-option {
    // width: 3em;
    font-size: 1.5em;
}

.mat-option-text {
    text-align: center !important;
}

fieldset {
    border-radius: 1em;
    border-color: lightgreen;
    width: 13em;
    margin-bottom: 1em;
}

:host ::ng-deep button, button {
    font-size: x-large;
    width: 6em;
    height: 2em;
    margin: 0.5em;
    border-radius: 1em !important;
}

@media only screen and (min-width: 1200px) {
    // Desktop
    mat-form-field {
        margin: 0.5em;
        // width: 30vw;
    }
}