:host {

}

.birth-month-field {
    width: 5em;

}

// .birth-month-option {
//     width: 4em;
// }

.birth-day-field {
    width: 3em;
}

// .birth-day-option {
//     width: 3em;
// }

.mat-option-text {
    text-align: center !important;
}