<mat-toolbar *ngIf="showNavBar" color="primary">
    <!-- Logo -->
    <h1>{{businessName}}</h1>

    <!-- Tabs -->
    <span class="tabs">
        <span routerLink="/customer-check-in" class="tab">Customer Check In</span>
        <span [routerLinkActive]="'selected'" routerLink="/customers" class="tab">Customers</span>
        <span [routerLinkActive]="'selected'" routerLink="/sms" class="tab">SMS</span>
        <span [routerLinkActive]="'selected'" routerLink="/coupon" class="tab">Coupon</span>
    </span>

    <!-- Business name -->
    <span style="margin: 1em;">{{curUser | username}}</span>

    <!-- Sign in -->
    <button mat-raised-button *ngIf="!curUser" routerLink="/sign-in">Sign In</button>

    <!-- Log out -->
    <button mat-raised-button *ngIf="curUser" (click)="onLogout()">Logout</button>

</mat-toolbar>