<mat-toolbar *ngIf="showNavBar" color="primary">
    <!-- Logo -->
    <h1>{{ curBusinessName }}</h1>

    <!-- Tabs -->
    <span class="tabs">
        <span routerLink="/customer-check-in" class="tab" *ngIf="curRole == Role.CHECK_IN">Customer Check In</span>
        <span [routerLinkActive]="'selected'" routerLink="/customers" class="tab" *ngIf="curRole !== Role.CHECK_IN">Customers</span>
        <span [routerLinkActive]="'selected'" routerLink="/sms" class="tab" *ngIf="curRole !== Role.CHECK_IN">SMS</span>
        <!-- <span [routerLinkActive]="'selected'" routerLink="/coupon" class="tab">Coupon</span> -->
    </span>

    <!-- Business name -->
    <!-- <span style="margin: 1em;">{{ curBusinessName }}</span> -->

    <!-- Sign in -->
    <!-- <button mat-raised-button *ngIf="!curUser" routerLink="/sign-in">Sign In</button> -->

    <span>
        <button mat-icon-button *ngIf="curUser" [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
    </span>
    <mat-menu #menu="matMenu">
        <span id="business-name" *ngIf="curRole !== Role.CHECK_IN">{{ curBusinessName }}</span>
        <!-- Settings -->
        <button mat-menu-item routerLink="/settings" *ngIf="curRole !== Role.CHECK_IN">
            <span>
                <mat-icon>settings</mat-icon>
                Settings
            </span>
        </button>

        <!-- Log out -->
        <button mat-menu-item (click)="onLogout()">
            <span>
                <mat-icon>logout</mat-icon>
                Logout
            </span>
        </button>
    </mat-menu>

</mat-toolbar>