<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Username -->
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput type="text" required formControlName="username" autofocus>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password">
    </mat-form-field>

    <!-- Signing in as owner checkbox -->
    <!-- <mat-checkbox formControlName="signingInAsOwner">as Onwer</mat-checkbox> -->

    <!-- Action Buttons -->
    <app-submit-button [disabled]="!form.valid || isSubmitting" [isSubmitting]="isSubmitting">Sign In
    </app-submit-button>
</form>