<mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="createdAt"
    matSortDirection="desc">

    <!-- Timestamp Column -->
    <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.createdAt | date : 'medium'}} </mat-cell>
    </ng-container>

    <!-- Message Content Column -->
    <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef> Content </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
    </ng-container>

    <!-- Message Description Column -->
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!-- Estimated Audience Size Column -->
    <ng-container matColumnDef="estimatedAudienceSize">
        <mat-header-cell *matHeaderCellDef matTooltip="Estimated number of customers that will receive the ad"
            matTooltipPosition="right"> Estimated </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.estimatedAudienceSize}} </mat-cell>
    </ng-container>

    <!-- Message Conversion Count Column -->
    <ng-container matColumnDef="conversionCount">
        <mat-header-cell *matHeaderCellDef matTooltip="Number of customers that have been converted to sale by the ad"
            matTooltipPosition="right"> Conversion </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{element.conversionCount}}
            <div class="update-button-section">
                <button class="update-button" mat-icon-button (click)="updateConversionCount(element, ConversionCountUpdateType.INC)" [disabled]="element.isSubmitting">
                    <mat-icon>arrow_drop_up</mat-icon>
                </button>
                <button class="update-button" mat-icon-button (click)="updateConversionCount(element, ConversionCountUpdateType.DEC)" [disabled]="element.isSubmitting">
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Message Received Count Column -->
    <ng-container matColumnDef="receivedCount">
        <mat-header-cell *matHeaderCellDef matTooltip="Number of customers that have received the ad"
            matTooltipPosition="right"> Received </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.successfulMessageCount}} </mat-cell>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef matTooltip="Number of customers that have received the ad"
            matTooltipPosition="right"> Cost </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <ng-container *ngIf="pricePerSms"> {{element.successfulMessageCount * pricePerSms | currency}} </ng-container>
        </mat-cell>
    </ng-container>

    <!-- Not needed currently -->
    <!-- Image Column -->
    <!-- <ng-container matColumnDef="imageUrl">
        <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.imageUrl}} </mat-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>