:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70vw;
    padding: 1em;
}

.mat-column-createdAt {
    width: 15em;
}

@media only screen and (max-width: 900px) {
    // Mobile and tablets
    :host {
        width: 90vw;
    }

    .mat-column-createdAt {
        width: initial;
    }
}