<!-- Message Content -->
<textarea matInput cols="3" rows="10" [(ngModel)]="messageContent"></textarea>

<!-- Images -->
<div class="images" *ngIf="imageUrls">
    <div class="img-container" *ngFor="let imageUrl of imageUrls" (click)="onSelectImage(imageUrl)">
        <img [src]="imageUrl" [ngClass]="{selected: selectedImage === imageUrl}">
    </div>
</div>
<mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner>

<!-- Action Buttons -->
<app-submit-fab-button class="send-button" [disabled]="!messageContent || isSending" [isSubmitting]="isSending" (onClick)="sendSms()">
    <mat-icon style="font-size: x-large;">send</mat-icon>
</app-submit-fab-button>