<!-- Message Content -->
<mat-form-field appearance="fill" class="message-content">
    <textarea matInput rows="10" [(ngModel)]="messageContent"></textarea>
</mat-form-field>
<!-- <input matInput [(ngModel)]="messageContent" /> -->
<span id="customer-count-container" style="color: grey;">Customer Count:
    <ng-container *ngIf="isLoading">
        <mat-spinner id="customer-count-spinner" diameter="20"></mat-spinner>
    </ng-container>
    {{customerCount}}
</span>

<!-- Upload Button -->
<!-- <div class="upload-button-container">
    <app-submit-button [disabled]="uploadingImage" [isSubmitting]="uploadingImage" (onClick)="onAddImageUrl()">
        Upload Image <mat-icon>file_upload</mat-icon>
    </app-submit-button>
</div>
<input #imageUploadInput type="file" class="menu-item-upload-input" (change)="onFileSelected($event)"
    style="visibility: hidden; width: 0 !important;"> -->

<!-- Images -->
<!-- <div class="images" *ngIf="imageUrls">
    <div class="img-container" *ngFor="let imageUrl of imageUrls" (click)="onSelectImage(imageUrl)">
        <img [src]="imageUrl" [ngClass]="{selected: selectedImage === imageUrl}">
    </div>
</div>
<mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner> -->

<!-- Action Buttons -->
<app-submit-button buttonType="fab" class="send-button" [disabled]="!messageContent || isSending"
    [isSubmitting]="isSending" (onClick)="sendSms()">
    <mat-icon style="font-size: x-large;">send</mat-icon>
</app-submit-button>