<!-- Message Content -->
<mat-form-field class="message-content">
    <mat-label>Description</mat-label>
    <input matInput type="text" [(ngModel)]="description" required placeholder="Ex. Tuesday 30% OFF">
</mat-form-field>

<!-- Message Content -->
<mat-form-field appearance="fill" class="message-content">
    <mat-label>Message Content</mat-label>
    <textarea matInput rows="10" [(ngModel)]="messageContent" required
        placeholder="Ex. Get 30% off today only - Happy Tuesday!" [maxlength]="maxChar"></textarea>
    <mat-hint>{{ messageContent.length }} / {{ maxChar }}</mat-hint>
</mat-form-field>

<!-- Include Click-Through Link -->
<mat-checkbox style="color: grey;" [(ngModel)]="includeClickThroughLink"
    matTooltip="Include the click-through link at the end of the sms to track if the customer has seen the ad"
    matTooltipPosition="right" (change)="onIncludeClickThroughLinkChange($event)">
    Include Click-Through Link
</mat-checkbox>

<span id="customer-count-container" style="color: grey;">Estimated Customer Count:
    <ng-container *ngIf="isLoading">
        <mat-spinner id="customer-count-spinner" diameter="20"></mat-spinner>
    </ng-container>
    {{customerCount}}
</span>

<span id="estimated-cost-container" style="color: grey;">Estimated Cost:
    <ng-container *ngIf="isLoading">
        <mat-spinner id="customer-count-spinner" diameter="20"></mat-spinner>
    </ng-container>
    <ng-container *ngIf="customerCount && pricePerSms">
        {{ customerCount * pricePerSms | currency }}
    </ng-container>
</span>

<!-- Upload Button -->
<!-- <div class="upload-button-container">
    <app-submit-button [disabled]="uploadingImage" [isSubmitting]="uploadingImage" (onClick)="onAddImageUrl()">
        Upload Image <mat-icon>file_upload</mat-icon>
    </app-submit-button>
</div>
<input #imageUploadInput type="file" class="menu-item-upload-input" (change)="onFileSelected($event)"
    style="visibility: hidden; width: 0 !important;"> -->

<!-- Images -->
<!-- <div class="images" *ngIf="imageUrls">
    <div class="img-container" *ngFor="let imageUrl of imageUrls" (click)="onSelectImage(imageUrl)">
        <img [src]="imageUrl" [ngClass]="{selected: selectedImage === imageUrl}">
    </div>
</div>
<mat-spinner *ngIf="isLoading" diameter="30"></mat-spinner> -->

<!-- Action Buttons -->
<app-submit-button buttonType="fab" class="send-button" [disabled]="!messageContent || !description || isSending"
    [isSubmitting]="isSending" (onClick)="sendSms()">
    <mat-icon style="font-size: x-large;">send</mat-icon>
</app-submit-button>