<h1 mat-dialog-title>Terms of Use</h1>
<mat-dialog-content>
    <p style="font-style: italic;">Last updated: April 29th, 2024</p>
    <p><strong>Introduction</strong></p>
    <p>Welcome to TicTex! These terms and conditions ("Terms") govern your use of the TicTex SMS marketing service ("the
        Service") provided by TicTex ("the Company").</p>
    <p>By using the Service, you agree to be bound by these Terms. If you disagree with any part of these Terms, you may
        not
        use the Service.</p>

    <p><strong>Use of the Service</strong></p>
    <p>The Service allows you to receive marketing SMS messages from businesses using TicTex.</p>
    <p>You must not use the Service in any way that causes, or may cause, damage to the Service or impairment of the
        availability or accessibility of the Service.</p>

    <p><strong>Consent to Receive Messages</strong></p>
    <p>By providing your phone number and opting in to receive messages from businesses using TicTex, you consent to
        receive
        marketing SMS messages from those businesses.</p>
    <p>You can opt out of receiving messages at any time by following the instructions provided in the messages.</p>

    <p><strong>Limitation of Liability</strong></p>
    <p>The Company shall not be liable for any indirect, incidental, special, consequential, or punitive damages, or any
        loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or
        other
        intangible losses, resulting from (a) your use of or inability to use the Service; (b) any content of messages
        received through the Service.</p>

    <p><strong>Changes to Terms</strong></p>
    <p>The Company reserves the right to modify or replace these Terms at any time. Your continued use of the Service
        after
        any such changes constitutes your acceptance of the new Terms.</p>

    <p><strong>Contact Us</strong></p>
    <p>If you have any questions about these Terms, please contact us at 949-394-6149.</p>
</mat-dialog-content>